*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100;
    height: 100vh;
    background: #eff4fd;
}

.hero nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
    border-bottom: 3px solid #000;
    padding: 0px 0px 5px;
}

.detail{
    margin-left: 8%;
    margin-top: 13%;
}

.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detail p{
    color: #555;
    line-height: 22px;
}

.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    top: -10%;
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    border-radius: 50%;
}

.images:hover .bg{
    bottom: 20px;
}

.images:hover .oscar{
    left: 25%;
}

.about{
    height: 55vh;
    background-color: #fff;
    padding: 2% 10% 10%;
}

.about-desc{
    margin: 50px 50px;
}

.about-desc p:nth-child(1){
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.about-desc p:nth-child(2){
    font-family: sans-serif;
    color: #555;
    text-align: center;
}


article {
  text-align: center;
  background-color: #eff4fd;
}

.skill{
    height:65vh;
    background-color: #eff4fd;
    padding: 10% 10% 10%;
}

.skill-desc{
    margin: 50px 50px;
}

.skill-desc p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: 000;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.skill-desc p:nth-child(2) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555;
    text-align: center;
}

.box-container{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.kotak1, .kotak2, .kotak3{
    width: 350px;
    height: 350px;
    box-shadow: 2px 12px 18px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}
.html1{
    width: 100%;
}


 .kotak1 span, .kotak2 span, .kotak3 span{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: orange;
    box-shadow: 2px 12px 18px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}

.kotak1 p:nth-child(3),.kotak2 p:nth-child(3), .kotak3 p:nth-child(){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8f8f8f;
    width: 250px;   
}

.contact{
    height: 75vh;
    background-color: white;
    padding: 2% 32% 10%;
    position: relative;
    top:1100px;
    right: 0;
    width: 500px;
    height:100px;
    display: flex;
    justify-content: center;
}
    

.contact-desc{
    margin: 50px 50px;
    text-align: center;
}

.contact-desc p:nth-child(1){ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: bold;
    color: #000;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 0;
}

.fb{
    width: 50px;
}
